body.homepage{
    margin:0;
    width:100%;
    height:100vh;
    background-color: rgb(31, 31, 31);

}
body.collection{
    margin:0;
    width:100%;
    height:5000px;
    background-color: rgb(31, 31, 31);

}

section.homepage{
    background: url(backdrop.jpg);
    animation: fadein Linear 1s;
    background-repeat: no-repeat;
    background-size:cover;
    height: 100%;
    width: 100%;
    color:white;
    
}
section.projectpage{
    background: url(backdrop.jpg);
    animation: fadein Linear 1s;
    background-repeat: no-repeat;
    background-size:contain;
    height: 100%;
    width: 100%;
    color:white;
    
}

div.logo{
    color: rgb(223, 178, 178);
    width:fit-content;
    font-size: 200%;
    padding-left: 50px;
    padding-top: 2%;
    font-family: trumpgothic;
}

div.title{    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex:1;
    padding-left: 10%;
    padding-top: 3%;
    font-size:400%;
    font-family: trumpgothic;
    
}

hr.main{
    margin-left:10%;
    background-color: rgb(155, 12, 12);
    border:3px solid  rgb(155, 12, 12);
    width: 100px;

}

div.title-desc{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex:1;
    margin-top: 2%;
    padding-left: 10%;
    font-size: 100%;
    font-family:polt;
}


div.start{
    background-color: rgb(155, 12, 12);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 220px;
    margin-left: 10%;
    font-size:150%;
    font-family:polt;
    
}

div.start:hover{
    background-color: rgb(105, 9, 9);
    transition:ease-in 0.1s;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 220px;
    margin-left: 10%;
    font-size:150%;
    font-family:polt;
}

a {
    text-decoration: none;
    color: inherit;
}

div.nav{
    padding-left:10px ;
    font-family: trumpgothic;
    font-size: 200%;
}

div.nav ul{
    list-style-type:none;
}
div.nav ul li{
    width:fit-content;
}
div.nav ul li:hover{
    color: rgb(223, 178, 178);
    transition:ease-in 0.1s;
}

div.title2 h1{
    width: 100%;
    height: max-content;
    text-align: center;
    font-family: trumpgothic;
    font-size:600%;
    margin-bottom:0px;
}

div.title2 hr{
    background-color: rgb(155, 12, 12);
    border:3px solid  rgb(155, 12, 12);
    width: 30%;
    margin-top: 0px;
}

div.projectlinks{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex:1;
}

div.links{
    
}



/*USED THIS AREA FOR IRREGULAR CSS CHANGES*/

@font-face{
    font-family:polt;
    src: url(Polt-Regular.otf);
}

@font-face{
    font-family:trumpgothic;
    src: url(trump_gothic_east_bold.ttf);
}

@keyframes fadein {
    from {opacity: 0; }
    to   {opacity:1; }
}


@-moz-keyframes fadein {
    from {opacity: 0;}
    to   {opacity: 1; }
}

@-webkit-keyframes fadein {
    from {opacity: 0;}
    to   {opacity: 1; }
}